<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNJ_nIEnEmMM1mvT8oJEoFXDLevpX87ZY</string>
	<key>GCM_SENDER_ID</key>
	<string>564229379069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qiitaSearch</string>
	<key>PROJECT_ID</key>
	<string>qiita-search-d60b5</string>
	<key>STORAGE_BUCKET</key>
	<string>qiita-search-d60b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564229379069:ios:ca223af86ec17095c67f94</string>
</dict>
</plist>